.order-summary {
    max-width: 350px;
    width: 100%;
    min-width: 300px;
    position: relative;
    box-sizing: border-box;
    line-height: 1.5;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    // padding: 1.5rem;
}
