<header>
    <div class="nav-top">
        <div class="container">
            <div class="nav-caption">
                <span class="caption-item">
                    <mat-icon>phone</mat-icon>
                    +38 (068) 529 35 58
                </span>
                <span class="caption-item">
                    <mat-icon>mail</mat-icon>
                    nazarkryp@gmail.com
                </span>
            </div>
        </div>
    </div>
    <nav class="nav-menu container-wrapper">
        <div class="container flex-row">
            <a class="navmenu-brand" [routerLink]="['/']">eCommerce</a>
            <!-- <ul class="menu-items center">
                <li>
                    <a class="nav-link" [routerLink]="['/products']">Computer</a>
                </li>
            </ul> -->
            <div class="menu-items end">
                <button mat-button (click)="checkout()" *ngIf="shoppingCart">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-button [routerLink]="['/shopping-cart']" *ngIf="shoppingCart">
                    <mat-icon>shopping_cart</mat-icon> <b>+{{shoppingCart.items.length}}</b>
                </button>
                <!-- <ng-container *ngIf="currentUser">
                    <div style="display: flex; flex-direction: row; align-items: center; margin-left: 1rem;">
                        <button mat-button (click)="signOut()">
                            <mat-icon>shopping_cart</mat-icon> <b>+7</b>
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngIf="!currentUser">
                    <button mat-raised-button color="primary" type="button" (click)="signIn()">Create
                        Account</button>
                    <button mat-button color="primary" type="button" (click)="signIn()">Sign In</button>
                </ng-container> -->
            </div>
        </div>
    </nav>
    <!-- <nav class="nav-submenu container-wrapper">
        <div class="container">
            <ul class="nav-menu-items">
                <li>
                    <a href="">Man</a>
                </li>
                <li>
                    <a href="">Women</a>
                </li>
                <li>
                    <a href="">Kids</a>
                </li>
            </ul>
        </div>
    </nav> -->
</header>
