.root-container {
    min-height: 100vh;
    position: relative;
}

.root-main {
    display: flex;
    box-sizing: border-box;
    place-content: start center;
    padding: 3rem 0;
}

.root-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    place-content: center center;
    align-items: center;
    color: white;
}

.root-footer>.container {
    padding: 2rem 0;
}

.root-footer a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}
